body {
  margin: 0;
  padding: 0;
  background-color: #151544;
}

ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  margin: 0;
  padding: 0;
}

ul li  {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul li a {
  position: relative;
  width: 60px;
  height: 60px;
  display: block;
  text-align: center;
  margin: 0 20px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration: none;
  background: linear-gradient(0deg, #3b16c2, #9c59db);
  transition: 0.5s;
}
ul li{
  color: white;
  font-size: 25px;
 padding-left: 20px;
}



ul li a .fa {
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(0deg, #ffffff, #dddddd);
  border-radius: 50%;
  line-height: 50px;
  font-size: 24px;
  color: #000000;
  transition: 0.5s;
}

ul li:nth-child(1) a:hover .fa {
  color: #2f63d4;
  ul li a .fa{
   border-radius: 50%;
  line-height: 50px;
  font-size: 24px;
  }
}
ul li:nth-child(2) a:hover .fa {
  color: #00aced;
}
ul li:nth-child(3) a:hover .fa {
  color: #dd4b39;
}
ul li:nth-child(4) a:hover .fa {
  color: #007bb6;
}
ul li:nth-child(5) a:hover .fa {
  color: #bc2a8d;
 
}




